.listar{padding: 2rem;}
.simple-button { border: none; background-color: unset;  }
.simple-button--delete {
  color: var( --color-delete);
  font-weight: 700;
  font-size: 1rem;
}  
.simple-button--edit {
  color: var( --color-edit);
  font-weight: 700;
  font-size: 1rem;
}
.table {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;   
    background-color: var(--color-footer);
    border-radius: 10px;
    box-shadow: var(--shadow);
    border-collapse: initial;
    text-align: left;
    color: var(--color-gray-light);
  } 
  .table__button-control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }  
  .table__button-a{   
    color: var(--color-btn);
    font-weight: 300;
    font-size: 0.9rem;    
  }
  .table__button-container{
    position: relative;
  display: block;
  width: 9rem;
  height: 3rem;
  margin: 0 auto;
  border: 1px solid var(--color-btn);
  background-color: none;
  z-index: 10;
 
    /* width: 9rem;
    height: 3rem;
    border: solid 1px var(--color-btn);
    box-shadow: var(--shadow); */
    /* padding: .5rem  0 0 .7rem ; */
  }
  
  .table__button-container select{
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: .7rem;
    font-size: 1rem;
    color:var(--color-btn);
  }
  
  
  .table__button-control li:first-of-type {
    margin-right: 2.25rem;
  }   
  .table__column-producto{ width: 20%;   }
  .table__column-imagen{ width: 15%; }
  .table__column-precio{width: 15%;  }
  .table__column-categoria{ width: 30%; }
  .table__column-agregar{width: 20%;} 
  .table__img{ width: 80%; height: 5rem; }
  .table thead {font-size: 1.4rem;} 
  .td {padding: 1rem; }   
  .table td {
    padding-left: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border:1px solid var( --color-busqueda) ;    
  }  
  .table th {
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--color-header);
  }   
  
  /* responsive */

  @media only screen and (max-width: 768px){
    .listar{padding: 0;}
    .simple-button--delete,  .simple-button--edit, .table td{font-size: 0.8rem;}
    .table__button-container{
      width: 6rem;height: 2rem;  
    }
    .table__button-container select{
      font-size: .8rem;
    }
    .table__button-control{
      flex-direction: column; justify-content: flex-start !important; row-gap: 0.5rem;
    }
    .table__button-control li:first-of-type{
      margin-right:0;
    }
    .table__img{ width: 100%; height: 100%; }
    .table thead{font-size: 1rem;}
  } 
  .table__column-agregar{
    padding: 0 !important;
    margin: 0 !important;
  }  
  
  @media only screen and (max-width: 560px){
    .responsive-scroll{
      display: block;
      overflow-x: scroll;
    }
  }
  
  
  